body {
    font-family: Arial, sans-serif;
    background-image: url("lol2.png");
    background-size: cover;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: inline-block;
    width: 120px;
    text-align: right;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  button {
    margin-top: 10px;
  }
  
  textarea {
    width: 60%;
    height: 100px;
    resize: none;
  }

  div{
    padding: 300px 70px 240px 480px;
  }
  